#mobile-nav-open-btn{
    font-size: 30px;
    color: #6255a5;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 20px;
    top: 20px;
    /* hide mobile nav open btn */
    display: none;
}

#mobile-nav{
    /* by default, mobile nav will be hidden with height 0% */
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, .9);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    overflow-y: hidden;
}

#mobile-nav-close-btn{
    font-family: "Open Sans", sans-serif;
    font-size: 70px;
    color: #6255a5;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 13px;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav-content{
    text-align: center;
    width: 100%;
    margin-top: 80px; 
}

#mobile-nav ul li{
    margin-bottom: 20px;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus{
    color: #6255a5;
    background: none;
}

/* Large Devices (Desktop & Laptops) */
@media (min-width: 1200px) and (max-width: 1299px){
    form.all-form {
        left: 10%;
        right: 10%;
        width: 450px;
    }
}

/* Medium Devices (Landscape Tablets & Medium Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    
    form.all-form {
        width: 400px;
    }
    
    #mobile-nav-open-btn{
        display: none;
    }
    
}

/* Small Devices (Portrait Tablets & Small Desktops) */
@media (min-width: 768px) and (max-width: 991px){
    
    /* Navigation */
    .navbar{
        padding-left: 10px;
    }
    
    /* show mobile nav open btn */
    #mobile-nav-open-btn{
        display: block;
    }
    
    form.all-form {
        left: 2%;
        right: 2%;
        width: 370px;
    }
    
    form.signup-form input{
        height: 30px;
    }
    
    .form-header h3 {
        font-size: 30px;
        margin-bottom: 5px;
    }
    
    .form-header p {
        font-size: 14px;
    }
    
}

/* Extra Small Devices (Landscape Phone & Portrait Tablets) */
@media (max-width: 767px) {
    
    /* Navigation */
    .navbar{
        padding-left: 10px;
    }
    
    /* show mobile nav open btn */
    #mobile-nav-open-btn{
        display: block;
    }
    
    /* all login form */
    form.all-form {
        left: 2%;
        right: 2%;
        width: 350px;
        padding: 30px;
        margin-top: 25px;
    }
    
    .form-header h3 {
        font-size: 28px;
        margin-bottom: 5px;
    }
    
    .form-header p {
        font-size: 14px;
    }
    
    .all-email,
    label a,
    #password-field::placeholder,
    label.form-check-label,
    .sign-up
    {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .rating {
        padding: 0;
        text-align: center;
    }
    
    /* footer */
    footer p,
    footer ul{
        display: flex;
        text-align: center;
        justify-content: center;
    }

}

@media (max-width: 480px) {
    
    /* Navigation */
    .navbar-header {
        margin-left: 20px;
        width: 230px
    }
    
    form.all-form {
        width: 330px;
        padding: 20px;
    }
    
    .form-header p {
        font-size: 14px;
    }
    
    .form-header h3 {
        font-size: 25px;
    }
    
    .all-email,
    label a,
    #password-field::placeholder,
    label.form-check-label,
    .sign-up
    {
        font-size: 13px;
    } 

}

@media (max-width: 350px){
    
    .form-logo {
        top: 5%;
    }
    
    form.all-form {
        width: 270px;
        padding: 20px;
        top: 10%;
    }
    
    form.signup-form input {
        font-size: 12px;
        margin-bottom: -13px;
    }
    
    form.changepwd-form {
        top: 15%;
    }
    form.fgtPwd-form {
        top: 30%
    }
    form.signup-form {
        top: 9%;
    }
    .form-header h3 {
        line-height: 30px;
        margin: 0;
        padding: 0;
    }
    .form-header p {
        margin: 0 0 5px 0;
    }
    
    .form-header p,
    .all-email,
    label a,
    #password-field::placeholder,
    label.form-check-label,
    .sign-up
    {
        font-size: 12px;
    }
    
    #password-field1::placeholder,
    #password-field2::placeholder,
    #password-field3::placeholder {
        font-size: 11px;
    } 
}